// @import "_variables"
@import "bootstrap-sprockets"
@import "bootstrap"
// @import "_bootswatch"
@import "carousel_quote"
// @import "bootstrap_vertical_grid"

html, body, article, .container
  height: 100%

html
  position: relative

#contact
  background: #1C3541

#features
  background: #86C4AA
  color: #fff
  .row
    margin-bottom: 40px

// #logo
//   background: #5AA3C7
//   color: #fff

#navbar
  background: #94E7FF

#pricing
  background: #3B6980

.pane
  padding: 120px 0
  .row
    margin: 10px 0

#logo
  // display: table
  height: 100%
  // position: relative
  width: 100%
  .container
    background: url(../images/logosite.png) no-repeat center center fixed
    width: 100%
    z-index: 4
    .row
      bottom: 0px
      position: absolute
      width: 100%
      .col-md-12
        -webkit-background-size: cover
        -moz-background-size: cover
        -o-background-size: cover
        background-size: cover
        width: 100%
        h2
          // display: inline-block
          // vertical-align: bottom
          width: 100%
        .scroll-down
          color: #FFF
          cursor: pointer
          position: absolute
          bottom: 20px
          left: 0
          right: 0
          text-align: center
          .text
            // font-weight: 300
            // font-size: 17px
            // padding: 0 0 15px
          .arrow
            background-image: url(../images/fleche-withe.png)
            background-size: 70px 30px
            // display: inline-block
            height: 30px
            width: 70px
  & > div
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
  #space
    background: #1B3440
  #background
    z-index: 1
    background: url(../images/little-stars.png)
  #middleground
    z-index: 2
    background: url(../images/middle-stars.png)
    // opacity: .5
  #foreground
    z-index: 3
    background: url(../images/big-stars.png)
    // opacity: .25


//
//
// #contact
//   background: #253A40
//
// #pricing
//   background: #4A7480
//
// .pane
//   padding: 40px 0
