.container
  .row
    .col-md-4
      %img.center-block{:src => "images/icone4.png"}
      %h4.text-center
        Choisissez un webdesign correspondant à vos besoins
    .col-md-4
      %img.center-block{:src => "images/icone5.png"}
      %h4.text-center
        Graphisme et images personalisable pour votre site
    .col-md-4
      %img.center-block{:src => "images/icone2.png"}
      %h4.text-center
        Developpement professionel de votre site SEO et analitycs
  .row
    .col-md-4
      %img.center-block{:src => "images/icone1.png"}
      %h4.text-center
        Possibilité de presentation photographiques personnalisées
    .col-md-4
      %img.center-block{:src => "images/icone3.png"}
      %h4.text-center
        Compatibilite ecran, tablette et smartphone
    .col-md-4
      %img.center-block{:src => "images/icone6.png"}
      %h4.text-center
        Votre site en ligne rapidement
