.container
  .row.clearfix
    .col-md-12
      -# %img.img-responsive.center-block{:src => "images/logosite.png"}
      -# %h2.text-center
      -#   Votre communication notre metier
      .scroll-down.col-md-offset-5.col-md-2.text-center
        .text Learn more
        .arrow.center-block
