.container.text-center
  .row
    .col-xs-12.col-md-4
      .panel.panel-primary
        .panel-heading
          %h3.panel-title
            Bronze
        .panel-body
          .the-price
            %h1
              $10
              %span.subscript /mo
            %small 1 month FREE trial
          %table.table
            %tr
              %td
                1 Account
            %tr.active
              %td
                1 Project
            %tr
              %td
                100K API Access
            %tr.active
              %td
                100MB Storage
            %tr
              %td
                Custom Cloud Services
            %tr.active
              %td
                Weekly Reports
        .panel-footer
          %a.btn.btn-success{:href => "http://www.jquery2dotnet.com", :role => "button"} Sign Up
          1 month FREE trial
    .col-xs-12.col-md-4
      .panel.panel-success
        .panel-heading
          %h3.panel-title
            Silver
        .panel-body
          .the-price
            %h1
              $20
              %span.subscript /mo
            %small 1 month FREE trial
          %table.table
            %tr
              %td
                2 Account
            %tr.active
              %td
                5 Project
            %tr
              %td
                100K API Access
            %tr.active
              %td
                200MB Storage
            %tr
              %td
                Custom Cloud Services
            %tr.active
              %td
                Weekly Reports
        .panel-footer
          %a.btn.btn-success{:href => "http://www.jquery2dotnet.com", :role => "button"} Sign Up
          1 month FREE trial
    .col-xs-12.col-md-4
      .panel.panel-info
        .panel-heading
          %h3.panel-title
            Gold
        .panel-body
          .the-price
            %h1
              $35
              %span.subscript /mo
            %small 1 month FREE trial
          %table.table
            %tr
              %td
                5 Account
            %tr.active
              %td
                20 Project
            %tr
              %td
                300K API Access
            %tr.active
              %td
                500MB Storage
            %tr
              %td
                Custom Cloud Services
            %tr.active
              %td
                Weekly Reports
        .panel-footer
          %a.btn.btn-success{:href => "http://www.jquery2dotnet.com", :role => "button"} Sign Up
          1 month FREE trial
