.container
  .row.row-xs-1
    .col-xs-12.col-md-4
      .panel.panel-primary
        .panel-heading
          %h3.panel-title
            Venus
        .panel-body
          .the-price
            %h1
              Formule de base
            -# %small 1 299 €
          %table.table
            %tr
              %td
                2 entretiens
            %tr.active
              %td
                Site internet 10 pages maximum
            %tr
              %td
                Nom de domaine et hébergement pour 1
            %tr.active
              %td
                Référencement SEO basique
                %span.glyphicon.glyphicon-question-sign{:data => {:toggle => "popover", :placement => "right", :content => "Best practices pour le code et création d'un Google Analitycs"}, :title => "Explications", :type => "button"}
            %tr
              %td
                Compatibilité mobile et tablette
            %tr.active
              %td
                Maintenance 2 tickets
        .panel-footer
          %a.btn.btn-success{:href => "http://www.jquery2dotnet.com", :role => "button"} Plus d'informations
    .col-xs-12.col-md-4
      .panel.panel-success
        .panel-heading
          %h3.panel-title
            Neptune
        .panel-body
          .the-price
            %h1
              Formule Venus +
              -# %span.subscript /mo
            -# %small 2 199 €
          %table.table
            %tr
              %td
                2 entretiens suplémentaires
            %tr.active
              %td
                Graphisme de votre Logo ou recharte de votre logo
            %tr
              %td
                Maquette carte de visite personnalisée
                %span.glyphicon.glyphicon-question-sign{:data => {:toggle => "popover", :placement => "right", :content => "L'impression des différents supports de communications papier son à la charge du clients et ne sont pas compris dans les formules"}, :title => "Explications", :type => "button"}
            %tr.active
              %td
                Maquette flyers ou plaquette au choix personnalisé
                %span.glyphicon.glyphicon-question-sign{:data => {:toggle => "popover", :placement => "right", :content => "L'impression des différents supports de communications papier son à la charge du clients et ne sont pas compris dans les formules"}, :title => "Explications", :type => "button"}
            %tr
              %td
                Maintenance 3 tickets suplémentaires
        .panel-footer
          %a.btn.btn-success{:href => "http://www.jquery2dotnet.com", :role => "button"} Plus d'informations
    .col-xs-12.col-md-4
      .panel.panel-info
        .panel-heading
          %h3.panel-title
            Jupiter
        .panel-body
          .the-price
            %h1
              Forumle Neptune +
              -# %span.subscript /mo
            -# %small 3 499 €
          %table.table
            %tr
              %td
                Entretiens selon besoin
            %tr.active
              %td
                Modification de la maquette du flyers
                %span.glyphicon.glyphicon-question-sign{:data => {:toggle => "popover", :placement => "right", :content => "La modification du flyers est valable une fois par an et limité à 2 propositions. L'impression des différents supports de communications papier son à la charge du clients et ne sont pas compris dans les formules"}, :title => "Explications", :type => "button"}
            %tr
              %td
                Champs d'inscription à une Newsletter
            %tr.active
              %td
                2 créations publicitaires événementiels
                %span.glyphicon.glyphicon-question-sign{:data => {:toggle => "popover", :placement => "right", :content => "Les créations publicitaires sont à destinations du site internet pour 2 évenements au choix du client. Exemples : 1 bannières publicitaire au format .jpg pour les fêtes de Noêl, 1 bannières pour les soldes"}, :title => "Explications", :type => "button"}
            %tr
              %td
                2 e-mailing par ans
                %span.glyphicon.glyphicon-question-sign{:data => {:toggle => "popover", :placement => "right", :content => "Les créations e-mailing sont valables pour 2 évenements au choix du client. Exemples : 1 newsletter publicitaire au format .jpg pour les fêtes de Noêl, 1 newsletter pour les soldes"}, :title => "Explications", :type => "button"}
            %tr.active
              %td
                Maintenance 10 tickets suplémentaires
        .panel-footer
          %a.btn.btn-success{:href => "http://www.jquery2dotnet.com", :role => "button"} Plus d'informations
