.container
  .row.row-xs-1
    .col-xs-12.col-md-4
      .panel.panel-primary
        .panel-heading
          %h3.panel-title
            Venus
        .panel-body
          .the-price
            %h1
              1 299 €
            %small Formule de base
          %table.table
            %tr
              %td
                2 entretiens
            %tr.active
              %td
                Site internet 10 pages maximum
            %tr
              %td
                Nom de domaine et hébergement pour 1
            %tr.active
              %td
                Référencement SEO basique
                %span.glyphicon.glyphicon-question-sign{:data => {:toggle => "tooltip", :placement => "right"}, :title => "Popover title", :type => "button"}
            %tr
              %td
                Compatibilité mobile et tablette
            %tr.active
              %td
                Maintenance 2 tickets
        .panel-footer
          %a.btn.btn-success{:href => "http://www.jquery2dotnet.com", :role => "button"} Plus d'informations
    .col-xs-12.col-md-4
      .panel.panel-success
        .panel-heading
          %h3.panel-title
            Neptune
        .panel-body
          .the-price
            %h1
              2 199 €
              -# %span.subscript /mo
            %small Formule Venus +
          %table.table
            %tr
              %td
                2 entretiens suplémentaires
            %tr.active
              %td
                Graphisme de votre Logo ou recharte de votre logo
            %tr
              %td
                Maquette carte de visite personnalisée
                %span.glyphicon.glyphicon-question-sign{:data => {:toggle => "tooltip", :placement => "right"}, :title => "Popover title", :type => "button"}
            %tr.active
              %td
                Maquette flyers ou plaquette au choix personnalisé
                %span.glyphicon.glyphicon-question-sign{:data => {:toggle => "tooltip", :placement => "right"}, :title => "Popover title", :type => "button"}
            %tr
              %td
                Maintenance 3 tickets suplémentaires
        .panel-footer
          %a.btn.btn-success{:href => "http://www.jquery2dotnet.com", :role => "button"} Plus d'informations
          1 month FREE trial
    .col-xs-12.col-md-4
      .panel.panel-info
        .panel-heading
          %h3.panel-title
            Jupiter
        .panel-body
          .the-price
            %h1
              3 499 €
              -# %span.subscript /mo
            %small Forumle Neptune +
          %table.table
            %tr
              %td
                Entretiens selon besoin
            %tr.active
              %td
                Modification de la maquette du flyers
                %span.glyphicon.glyphicon-question-sign{:data => {:toggle => "tooltip", :placement => "right"}, :title => "Popover title", :type => "button"}
            %tr
              %td
                Champs d'inscription à une Newsletter
            %tr.active
              %td
                2 créations publicitaires événementiels
                %span.glyphicon.glyphicon-question-sign{:data => {:toggle => "tooltip", :placement => "right"}, :title => "Popover title", :type => "button"}
            %tr
              %td
                2 e-mailing par ans
                %span.glyphicon.glyphicon-question-sign{:data => {:toggle => "tooltip", :placement => "right"}, :title => "Popover title", :type => "button"}
            %tr.active
              %td
                Maintenance 10 tickets suplémentaires
        .panel-footer
          %a.btn.btn-success{:href => "http://www.jquery2dotnet.com", :role => "button"} Plus d'informations
