---
title: Welcome to Middleman
---

%article
  %section#logo
    #space
    #background
    #middleground
    #foreground
    = partial "logo"
  / = partial "carousel_quote"
  / = partial "video"
  %section#features.pane
    = partial "features"
  %section#pricing.pane
    = partial "pricing"
  / #newsletter
  /   = partial "newsletter"
  / = partial "billing"
  %section#contact.pane
    = partial "contact"
  / = partial "bitballoon_affiliate"
