---
title: Welcome to Middleman
---

#logo.pane
  = partial "logo"
/ = partial "carousel_quote"
/ = partial "video"
#features.pane
  = partial "features"
#pricing.pane
  = partial "pricing"
/ #newsletter
/   = partial "newsletter"
/ = partial "billing"
#contact.pane
  = partial "contact"
/ = partial "bitballoon_affiliate"
